a:link, a:visited, a:active {
	color:#717171;
	
	 -webkit-transition: color 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: color 0.3s ease-out;  /* Firefox 4-15 */
       -o-transition: color 0.3s ease-out;  /* Opera 10.50–12.00 */
          transition: color 0.3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */

	text-decoration: underline;


} 

a:hover {
	color: #000000;
	text-decoration: underline;
}

html{
	height: 100%;
}

body a{
	text-decoration: none;
	color: inherit;
	height: 100%;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;	
}

div.content-wrapper{

	width: 100%;
	margin-top: 76px;

}

div.content{
	
	position: relative;
	margin: auto;
	width: 718px;
	min-height: 412px;
	background-color: #FFF;
	-webkit-border-radius: 6px; /* Android ≤ 1.6, iOS 1-3.2, Safari 3-4 */
          border-radius: 6px; /* Android 2.1+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 5+ */
	

	padding: 82px;

	color: #000000;
	font-size: 13px;
	line-height: 1.5em;

}

p.blurb{
	width: 50%;
}

#button{

	display: inline-block;

	text-decoration: none;

	font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
	font-size: 23px;
	
	font-weight: 600;	

	color: #FFF;

	-webkit-border-radius: 6px;
	border-radius: 3px;

	

	text-shadow: 1px 1px 1px #707070; /* Chrome, Firefox 3.5+, IE 10+, Opera 9+, Safari 1+ */

	padding: 10px 20px;

	/*border: 2px solid rgba(255, 255, 255, 1);*/
	cursor: pointer;

	position: relative;

	 -webkit-transition: all 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: all 0.3s ease-out;  /* Firefox 4-15 */
       -o-transition: all 0.3s ease-out;  /* Opera 10.50–12.00 */
          transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
	
}

#button:hover{
	
	border: 1px solid #222;

}

p.about{
	width: 100%;
}

hr.content-divider {
    display: block; height: 2px;
    border: 0; border-top: 2px solid #f2f2f2;
    margin: 28px 0; padding: 0;
}

div.footer-wrapper a:link, div.footer-wrapper a:hover, div.footer-wrapper a:visited,
div.footer-wrapper a:active{
	color: inherit;
}

div.footer-wrapper{
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 999;
	width: 100%;
	height: 44px;
	color: inherit;
	
}

div.footer{
	
	position: relative;
	width: 882px;
	margin: auto;

}

div.copy{

	color: inherit;
	opacity: 0.65;
	font-size: 10px;
	line-height: 13px;
	position: absolute;
	top: 12px;
	right: 2px;

}

.info{
	position: relative;
	left: 0;
	top: 0;

}
.navitem-bg{

	background-repeat: no-repeat;
	padding-left: 19px;
	background-position: 0 center;

}

#phone{
	display: block;
	float: left;	
	font-size: 18px;
	
	font-weight: normal;
	margin-top: 10px;
	margin-right: 24px;
}	

#map{
	display: block;
	float: left;	
	font-size: 12px;	
	
	font-weight: normal;
	margin-top: 10px;
	line-height: 22px;
	padding-top: 3px;
	opacity: 1;
	-webkit-transition: opacity 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: opacity 0.3s ease-out;  /* Firefox 4-15 */
       -o-transition: opacity 0.3s ease-out;  /* Opera 10.50–12.00 */
          transition: opacity 0.3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
}	

a:hover > #map{
	
	opacity: 0.65;

}

#contact{
	display: block;
	position: absolute;
	font-size: 14px;	
	color: #000000;
	font-weight: 600;
	top: 10px;
	right: 22px;
	line-height: 22px;
	padding-top: 3px;
	opacity: 0.7;

	padding-left: 23px;

	-webkit-transition: opacity 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: opacity 0.3s ease-out;  /* Firefox 4-15 */
       -o-transition: opacity 0.3s ease-out;  /* Opera 10.50–12.00 */
          transition: opacity 0.3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
}	

a:hover > #contact{
	
	opacity: 1;

}